name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository code
      - name: Checkout code
        uses: actions/checkout@v3

      # Deploy to VPS
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            # Kiểm tra và cài đặt Docker nếu chưa có
            if ! command -v docker &> /dev/null; then
              echo "Docker not found. Installing Docker..."
              apt-get update
              apt-get install -y docker.io docker-compose
            fi

            # Đảm bảo thư mục tồn tại
            if [ -d "/root/docker" ]; then
              echo "Directory exists. Deleting and recloning..."
              rm -rf /root/docker
            fi

            # Clone repository
            git clone https://github.com/lehau17/baemin.git /root/docker

            # Triển khai ứng dụng
            cd /root/docker
            docker-compose down
            docker-compose build
            docker-compose up -d

            # Xóa các hình ảnh Docker không dùng đến
            docker images -f "dangling=true" -q | xargs -r docker rmi
